<configuration>
    <appender name="ELASTIC" class="net.logstash.logback.appender.HttpAppender">
        <url>https://localhost:9200/_bulk</url>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <connectionStrategy class="net.logstash.logback.appender.HttpConnectionStrategy">
            <readTimeout>3000</readTimeout>
            <writeTimeout>3000</writeTimeout>
        </connectionStrategy>
        <headers>
            <header>
                <name>Authorization</name>
                <value>Basic ${ELASTIC_BASIC_AUTH}</value>
            </header>
            <header>
                <name>Content-Type</name>
                <value>application/x-ndjson</value>
            </header>
        </headers>
    </appender>

    <root level="INFO">
        <appender-ref ref="ELASTIC"/>
    </root>
</configuration>
